<div class="container">

    <div class="left">
        <div class="pageTitle">
            <a href="./">
                <h1>Today I learned</h1>
            </a>
        </div>

        <div class="links">
            <!-- <a href="./">Home</a>
            <a href="/login">Login</a>
            <a href="/newpost">New Post</a> -->
        </div>

    </div>
    <div class="right">
        <div class="profile">
            <a href="/login" *ngIf="!(authService.user | async)">Login</a>
            <p *ngIf="authService && authService.user | async as user">{{user.displayName}}</p>
            <img style="height: 50px; width: 50px;" *ngIf="authService && authService.user | async as user" src={{user.photoURL}} />
        </div>
    </div>


</div>