<div class="container">

    <div class="left">
        <div class="pageTitle">
            <a href="./">
                <h1>Today I learned</h1>
            </a>
        </div>

        <div class="links">
            <a href="./">Home</a>
            <a href="/about">About</a>
            <a href="/newpost">New Post</a>
        </div>

    </div>
    <div class="right">
        <div class="profile">
            <a>righttht</a>
            <a>righttht</a>
            <a>righttht</a>
        </div>
    </div>


</div>