<div class="calendarContainer">
    <div class="month">
        <ul>
            <li (click)="previous()" class="prev">&#10094;</li>
            <li (click)="next()" class="next">&#10095;</li>
            <li>
                <span class="year">{{currentYear}}</span><br>
                <span class="selectedMonth">{{months[currentMonth]}}</span>
            </li>
        </ul>
    </div>

    <ul class="weekdays">
        <li>Mo</li>
        <li>Tu</li>
        <li>We</li>
        <li>Th</li>
        <li>Fr</li>
        <li>Sa</li>
        <li>Su</li>
    </ul>
    
    <ul class="days" *ngIf="postsList">
        <li *ngFor="let item of [].constructor(31); index as i" [class.highlightDay]="isHighlighted(i + 1)"  [class.avalibleDay]="currentDaysInMonth >= i + 1" [class.unavalible]="currentDaysInMonth < i + 1">
            <span *ngIf="currentDaysInMonth >= i + 1">{{i + 1}}</span>
            <span style="color: rgb(143, 43, 43);" *ngIf="currentDaysInMonth < i + 1">{{i + 1}}</span>
        </li>
    </ul>
</div>