@media screen and (max-width: 755px) {
    .innerContainer  {
        padding: 10px 10px !important;
    }   
    .container {
      padding: 2% 2% !important;
    }
  }
  
  .container {
    background: #FFFFFF;
    display: flex;
    flex: 1;
    padding: 20px 8%;
  }
  
  .innerContainer {
    background: #f7f7f7;
    border: 1px solid #e0e1e2;
    display: flex;
    flex: 1;
    padding: 10px 50px;
  }
  
  .postContainer {
    flex: 1;
    div {
        padding-top: 10px;
    }
  }

  label {      
    margin: 8px 0;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
  }

  .title {
      font-size: 2.5rem !important;
  }

  input[type=text] {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #e0e1e2;
    border-radius: 4px;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;

    &:focus {
        outline: none !important;
        border: 2px solid #2DB84B !important;
    }
  }

  button {      
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    background-color: #2DB84B;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
  }

