<!-- <p>home works!</p>

<ul>
    <li *ngFor="let post of postsList">
        <p>{{post.title}}</p>
        <p>{{post.body}}</p>
        <p>{{post.language}}</p>
        <p>{{post.tags}}</p>
        <p>{{post.date}}</p>
    </li>
</ul>

<div>
    <input [(ngModel)]="post.name" name="post.name" placeholder="name" />
    <input [(ngModel)]="post.age" name="post.age" placeholder="age" /> -->
    <!-- <button (click)="add()">Save</button>
</div>  -->

<div class="container">
    <div class="left">
        <div class="filterContainer">
            <app-post-filter></app-post-filter>
            <app-post-calendar [postsList]="postsList" ></app-post-calendar>
        </div>
        
        <!-- <app-post-calendar></app-post-calendar> -->
    </div>

    <div class="right">        
            <app-post-preview [postsList]="postsList" ></app-post-preview>       
            
    </div>
</div>