 <div class="postContainer" *ngFor="let post of postsList">
    <div class="topRow">
        <div class="titleContainer">
            <a [attr.href]="'/post?postid=' + post.id">
                <h3 class="title">{{post.title}}</h3>
            </a>
        </div>
        <div class="optionsContainer">
            <app-tool-tip [key]="post.id" ></app-tool-tip>
        </div>
    </div>

    <div class="middleRow">
        <p class="body" [innerHTML]="cleanBody(post.body)"></p>
    </div>

    <div class="bottomRow">
        <div class="tagsContainer">
            <div class="tags" *ngFor="let tag of post.tags">{{tag}}</div>
        </div>
        <div class="languageContainer">
            <p class="language">{{post.language}}</p>
        </div>
    </div>
</div>









