<div class="container">
    <div class="innerContainer">
        <div class="postContainer">
            <div>
                <label>Title</label>
                <input class="title" [(ngModel)]="post.title" type="text">
            </div>

            <div>
                <label>Post Content</label>
                <quill-editor [(ngModel)]="post.body" [styles]="{'height': '250px', 'background-color': 'white'}">
                </quill-editor>
            </div>

            <div>
                <label>Tags</label>
                <tag-input [ngModel]="post.tags" [onlyFromAutocomplete]="true" (input)="searchTags($event.target.value)" (onAdd)="tagsInputAdd($event)"
                    (onRemove)="tagsInputRemove($event)">
                    <tag-input-dropdown [autocompleteItems]="inputTagList()">
                        <ng-template let-item="item" let-index="index">
                            {{ item.display }}
                        </ng-template>
                    </tag-input-dropdown>
                </tag-input>
            </div>

            <div>
                <label>Cant find tag? Add new here</label>
                <input type="text" [(ngModel)]="newTag.tag" />
                <button (click)="addTag()">Add tag</button>
            </div>

            <div>
                <label>TBD</label>
                <input type="text" [(ngModel)]="post.language" />
            </div>

            <div>
                <button (click)="postPost()">Post</button>
            </div>

        </div>
    </div>
</div>